{% extends "layout.html" %}

{% block title %}
    Register for App
{% endblock %}

{% block main %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Cash</th>
          <th>Total</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ name }}</td>
          <td>{{ price }}</td>
          <td>{{ symbol }}</td>
          <td>{{ shares }}</td>
          <td>{{ cash }}</td>
          <td>{{ total }}</td>
        </tr>
      </tbody>
    </table>
{% endblock %}
