{% extends "layout.html" %}

{% block title %}
    Register for App
{% endblock %}

{% block main %}
 <form action="/sell" method="post">
    <div class="mb-3">
      <label for="symbol">Enter a symbol please</label>
      <input autocomplete="on" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Enter symbol please" type="text">
    </div>
    <div class="mb-3">
      <label for="shares">Shares</label>
      <input autocomplete="on" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Enter number of shares please" type="text">
    </div>
  </form>
{% endblock %}