.DS_Store
.trunk
/.hintrc
.vscode/
/lectures
week_11__final-project/spelling_bee/config.py
dictionary.db
log.sql

# screencast
*.mp4
week_11__final-project/spelling_bee/templates/screencast.html

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# ssh
.ssh
