 @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;

  --font-headings:Merriweather;
  --font-cursive: 'Helvetica';
  }

body{
  background-color: #FFF545;
  text-align: center;
}

main {
  display: grid;
  grid-template-areas: 
    "comb definition"
    "comb list"
    "input list";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: calc(1rem + 1vw);
  padding: 1rem;
  }

#circle-comb{
  grid-area: comb;
  }

#input{
  grid-area: input;
  }

#definition-section{
  grid-area: definition;
  }

#word-list{
  grid-area: list;
  }
#word-list-ul{
  font-family: var(--font-cursive);
  font-style: italic;
  font-size: calc(0.3rem + 1vw);
  list-style-type: none;
}

#definition-area{
  font-family: var(--font-cursive);
  font-style: italic;
  font-size: calc(0.3rem + 1vw);
  resize: none;
  overflow-y: hidden;
  }
  

/* #input-word{
  background-color: darkblue;
  color: white;
  pointer-events: none;
  }

#input-word:invalid{
  background-color: red;
  } */

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-headings);
  text-transform: capitalize;
  padding-top: 3rem;
}


svg{
  width: 20vw;
  height: auto;
  }

  svg > g{
    cursor: pointer;
  }

  #_x3C_PolygonBG_x3E_{
    cursor: none;
  }


