/* Handwriting */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* Industrial looking font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* Urban looking font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


/*RESETS*/:root
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;

  --font-headings: Roboto Mono;
  --font-copy: Helvetica;
  --font-assets: Roboto Condensed;
  --font-handwriting: Indie Flower;

  --color-graphite: #080808;
  --color-yellow: #f9d71c;
}

/*GENERAL STYLING*/
body {
  font-family: var(--font-headings);
  font-size: calc(0.3rem + 1vw);
  background-color: var(--color-yellow);
  color: var(--color-graphite);
}

/* Grids */

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 10rem;
  row-gap: 5rem;
}

@media (max-width: 768px) {
  body {
    row-gap: 1rem;
  }
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  text-align: center;
}

main {
  display: grid;
  grid-template-areas: "list comb input" "list comb definition" "list comb scores" "instructions instructions .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15rem 1fr 10rem 10rem;
  row-gap: 2rem;
  column-gap: 3rem;
  padding: 0 calc(3rem + 1vw);
}

@media (max-width: 768px) {
  main {
    grid-template-areas: "comb" "input" "definition" "list" "scores" "instructions";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
  }

  #input {
    grid-area: input;
    justify-self: center;
  }

  #instructions {
    grid-area: instructions;
    display: none;
  }
}


#circle-comb {
  grid-area: comb;
}

#input {
  grid-area: input;
}

#definition-section {
  grid-area: definition;
}

#word-list {
  grid-area: list;
}

#instructions {
  grid-area: instructions;
  display: none;
}

#scores {
  grid-area: scores;
}

@keyframes drop_into_view {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }  
}



/* List styling */
#word-list-ul {
  font-family: var(--font-handwriting);
  list-style-type: none;
  padding-left: 1rem;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  text-transform: capitalize;
}


/* Bee */

#beeOne {
  position: absolute;
  top: -30%;
  right: -10%;
  animation: fly 13s, jiggle 1s infinite;
}

@keyframes fly {
  0% {
    top: 30%;
    right: -20%;
  }

  20% {
    top: 20%;
    right: 5%;
  }

  40% {
    top: 15%;
    right: 10%;
  }

  60% {
    top: 30%;
    right: 35%;
  }

  80% {
    top: 60%;
    right: 60%;
  }

  100% {
    top: 30%;
    right: 100%;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Comb */

#comb {
  width: calc(20rem + 10vw);
  justify-self: center;
}

svg {
  width: 20vw;
  height: auto;
}


svg > g > text:hover {
  fill: var(--color-yellow);
}

.st3:hover {
  fill: var(--color-yellow);
}


#central-letter-group > text {
  fill: white;

}

#central-letter-group > text:hover {
  fill: var(--color-yellow);

}

text:hover {
  cursor: pointer;
}


/* Buttons, */

button {
  font-family: var(--font-assets);
  font-size: calc(0.3rem + 1vw);
  background-color: var(--color-graphite);
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

input {
  font-family: var(--font-handwriting);
  font-size: calc(0.3rem + 1vw);
  background-color: white;
  color: var(--color-graphite);
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: none;
}

#definition-area,
#word-list-ul {
  font-family: var(--font-handwriting);
  font-size: calc(0.3rem + 1vw);
  background-color: white;
  padding: 0.5rem;
  border: 0.2rem solid var(--color-graphite);
  border-radius: 0.5rem;
  resize: none;
  outline: none;
}

#definition-area {
  max-height: 8vw;
  overflow-y: scroll;
}

#word-list-ul {
  min-height: 20vw;
  column-count: 3;
}


/* Footer */

cdc-footer {
  margin-top: calc(3rem + 1vw);
  font-size: calc(0.05rem + 1vw);
}


footer {
  margin-top: 8rem;
  opacity: 0.4;
  animation: slide-upwards 3s, change_opacity 3s;
}

@keyframes slide-upwards {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes change_opacity {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

/* Dialog instructions */

#dialog-instructions{
  top: 7%;
  font-size: calc(0.8rem + 1vw);
  margin: calc(1.5rem + 1vw);
  padding: calc(5rem + 1vw) calc(2rem + 1vw);
}